{% extends './_base.html' %}
{% block body %}
	<div id="image">
		<img src='data:image/png;base64,{{ codabar_image }}' style="max-width:100%"	>
	</div>

        <div id="div_form_">
            <form method="post">
                {{ form.media }}
                {{ form.errors }}
                {% csrf_token %}
			<div id="div_barcode_number"><label for="id_barcode_number">barcode_number</label>{{ form.barcode_number }}</div> 
			<div id="div_start_code"><label for="id_start_code">start_code</label>{{ form.start_code }}</div>
			<div id="div_stop_code"><label for="id_stop_code">stop_code</label>{{ form.stop_code }}</div>
			<div id="div_above_bar1_text"><label for="id_above_bar1_text">above_bar1_text</label>{{ form.above_bar1_text }}</div>
			<div id="div_above_bar2_text"><label for="id_above_bar2_text">above_bar2_text</label>{{ form.above_bar2_text }}</div>
			<div id="div_barcode_height"><label for="id_barcode_height">barcode_height</label>{{ form.barcode_height }}</div>
			<div id="div_barcode_width"><label for="id_barcode_width">barcode_width</label>{{ form.barcode_width }}</div>
			<div id="div_show_barcode_number"><label for="id_show_barcode_number">show_barcode_number</label>{{ form.show_barcode_number }}</div>
			<div id="div_show_startstop"><label for="id_show_startstop">show_startstop</label>{{ form.show_startstop }}</div>
			<div id="div_barcode_fontsize"><label for="id_barcode_fontsize">barcode_fontsize</label>{{ form.barcode_fontsize }}</div>
			<div id="div_barcode_fontfamily"><label for="id_barcode_fontfamily">barcode_fontfamily</label>{{ form.barcode_fontfamily }}</div>
			<div id="div_above_bar1_fontsize"><label for="id_above_bar1_fontsize">above_bar1_fontsize</label>{{ form.above_bar1_fontsize }}</div>
			<div id="div_above_bar2_fontsize"><label for="id_above_bar2_fontsize">above_bar2_fontsize</label>{{ form.above_bar2_fontsize }}</div>
			<div id="div_above_bar1_fontfamily"><label for="id_above_bar1_fontfamily">above_bar1_fontfamily</label>{{ form.above_bar1_fontfamily }}</div>
			<div id="div_above_bar2_fontfamily"><label for="id_above_bar2_fontfamily">above_bar2_fontfamily</label>{{ form.above_bar2_fontfamily }}</div>
                    <button type="submit">Submit</button>
            </form>
        </div>
	{% endblock %}
