{% extends './_base.html' %}
{% block content %}
	{% if ssid_image %}
	<div id="image" class="result">
		<img src='data:image/png;base64,{{ ssid_image }}' style="max-width:100%">
	</div>
	<div class="download-link">
		<a class="download-link" href='data:image/png;base64,{{ ssid_image }}' download="{{ download_name }}">download</a>
	</div>
	{% endif %}

        <div id="div_form" class="form">
            <form method="post">
                {{ form.media }}
                {{ form.errors }}
                {% csrf_token %}
			<div id="div_ssid_text"><label for="id_ssid_text">SSID</label>{{ form.ssid_text }}</div> 
			<div id="div_password_text"><label for="id_password_text">Pass</label>{{ form.password_text }}</div>
			<div id="div_notice1_text"><label for="id_notice1_text">Notice line 1</label>{{ form.notice1_text }}</div>
			<div id="div_notice2_text"><label for="id_notice2_text">Notice line 2</label>{{ form.notice2_text }}</div>
			<div id="div_ssid_fontsize"><label for="id_ssid_fontsize">ssid fontsize</label>{{ form.ssid_fontsize }}</div>
			<div id="div_ssid_fontfamily"><label for="id_ssid_fontfamily">ssid fontfamily</label>{{ form.ssid_fontfamily }}</div>
			<div id="div_password_fontsize"><label for="id_password_fontsize">password fontsize</label>{{ form.password_fontsize }}</div>
			<div id="div_password_fontfamily"><label for="id_password_fontfamily">password fontfamily</label>{{ form.password_fontfamily }}</div>
			<div id="div_notice1_fontsize"><label for="id_notice1_fontsize">notice fontsize</label>{{ form.notice1_fontsize }}</div>
			<div id="div_notice1_fontfamily"><label for="id_notice1_fontfamily">notice fontfamily</label>{{ form.notice1_fontfamily }}</div>
			<div id="div_notice2_fontsize"><label for="id_notice2_fontsize">notice fontsize</label>{{ form.notice2_fontsize }}</div>
			<div id="div_notice2_fontfamily"><label for="id_notice2_fontfamily">notice fontfamily</label>{{ form.notice2_fontfamily }}</div>
			<div id="div_submit"><label for="submit"> </label><button type="submit">Submit</button></div>
            </form>
        </div>
	{% endblock %}
